<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>


<body>
    <%- include('partials/navbar')%>
   <%- include('partials/errors')%>
     <form class = 'edit-form' action="/worlds/new" method = "POST">
    <h1>Create World</h1>
        <div>
            <label for="name">Title:</label>
            <input type="text" id = "name" name = "name">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" id="description">
            </textarea>
            
        </div>
        <div>
            <label for="creator">Creator:</label>
            <input type="text" id = "creator" name = "creator" >
        </div>
        <button class = 'primary-btn' type = 'submit'>Create</button>
         <button class = 'primary-btn' type = 'button'><a href="/worlds">Back</a></button>
    </form>

</body>
</html>