<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/navbar')%>
    <p class = 'home-message'>Explore characters from existing worlds in movies and tv shows. Add your own characters
        and worlds from whatever you can dream up. The sky is the limit! 
    </p>
    <div class = 'explore-btn-wrapper'>
        <button class = 'explore-btn'><a href="/characters">Explore characters</a></button>
        <button class = 'explore-btn'><a href="/worlds">Explore Worlds</a></button>
    </div>
    
</body>
</html>