<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/navbar')%>
    
    <div class="grid-wrapper">
        <div class="worlds-grid">
            <% worlds.forEach((world) => { %>
                <a href = "/worlds/<%= world.id %>">
                    <div class = 'world-box'>
                        <h1><%= world.name %></h1>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</body>
</html>