<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/navbar')%>
    <h1>Worlds</h1>
    <% worlds.forEach((world) => { %>
        <div> 
            <h1><%= world.name %></h1>
            <p><%= world.description %></p>
        </div>
    <% }) %>
</body>
</html>