*{
    margin: 0;
    
    box-sizing: border-box;
font-family: 'Delius'

}
:root{
    --blue-var: rgb(132, 189, 255);
    --background: rgb(210, 245, 255);
}

a{
    text-decoration: none;
   
}

/* nav bar */
nav a {
     color: white;
}
nav .nav-link-list{
    list-style: none;
    display: flex;
    width: 100%;
    gap: 30px;
}

nav{
    padding: 20px;
    background: rgb(159, 159, 210);
}

a {
    color: black;
}
/*home*/
.explore-btn{
    font-size: 1.3rem;
    background: rgb(254, 154, 154);
    padding: 10px 20px;
    width: 300px;
    border: 0;
}

.explore-btn-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-message{
    font-size: 1.2rem;
    text-align: center;
    margin: 30px;
}
/* worlds page */
.grid-wrapper{
    display: flex;
    justify-content: center;
}
.worlds-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 100px;

}

.world-wrapper{
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.world-box{
    padding: 20px;
    background-image: url('planet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    width: 205px;
    height: 205px;
    background-clip: padding-box;
}

.world-box:hover{
    border: 1px solid black;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.world-box h1{
    padding: 7px;
    border-radius: 4px;
    font-size: 1.3rem;
    background: var(--blue-var)
}
/* world view */
.world-view-wrapper{

    border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 15px 30px;
    margin: auto;
        margin-top: 20px;
        background: var(--background);
  
}
.world-view-wrapper *{
    margin-bottom: 10px
}
.world-view-wrapper .description{
    font-size: 1.1rem;
}
.world-view-btn-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.world-view-btn-container button{
    background: var(--background);
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 800
}

.world-view-btn-container button:hover{
    background: var(--blue-var)
}
/* world edit */

.world-edit-form{
     border: 5px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 15px 30px;
    margin: auto;
        margin-top: 20px;
        background: var(--background);
}

.world-edit-form input{
    margin-bottom: 10px;
}

.world-edit-form textarea{
    height: 100px;
    width: 400px;
}
.world-edit-form button{
    background: var(--background);
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 800
}